In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
claim_total = pd.read_csv('train (1).csv')
test = pd.read_csv('test (1).csv')

In [3]:
claim_total.head(10)

,Customer_ID,months_as_customer,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,...,authorities_contacted,incident_state,incident_city,witnesses,police_report_available,auto_make,auto_model,auto_year,_c39,total_claim_amount
0,Customer_541,239,41,FEMALE,JD,farming-fishing,paintball,other-relative,51400,-6300,...,Police,NC,Arlington,2,YES,Mercedes,E400,2013,NaN,14386.67
1,Customer_440,108,31,MALE,Masters,protective-serv,yachting,not-in-family,0,0,...,Fire,NY,Columbus,2,NO,Dodge,Neon,2006,NaN,76440.00
2,Customer_482,116,30,MALE,JD,handlers-cleaners,golf,not-in-family,0,-35500,...,Other,WV,Riverwood,3,?,Volkswagen,Passat,2004,NaN,79560.00
3,Customer_422,8,21,MALE,High School,handlers-cleaners,hiking,husband,0,0,...,Other,WV,Columbus,0,?,Toyota,Corolla,2012,NaN,121680.00
4,Customer_778,161,38,MALE,PhD,priv-house-serv,exercise,not-in-family,60200,0,...,Police,WV,Springfield,2,YES,Volkswagen,Jetta,2003,NaN,80640.00
5,Customer_949,407,55,FEMALE,PhD,tech-support,bungie-jumping,wife,0,-57700,...,Police,WV,Arlington,3,YES,Ford,Escape,2010,NaN,90880.00
6,Customer_334,96,30,MALE,College,prof-specialty,hiking,wife,38900,-48700,...,Fire,NC,Arlington,0,YES,Ford,Escape,2004,NaN,71253.33
7,Customer_576,282,46,MALE,MD,other-service,dancing,wife,51100,-75100,...,Police,NY,Springfield,2,NO,BMW,M5,2012,NaN,92533.33
8,Customer_934,146,31,FEMALE,College,armed-forces,camping,own-child,0,0,...,Ambulance,VA,Riverwood,3,?,Toyota,Highlander,2010,NaN,69840.00
9,Customer_567,371,54,MALE,High School,craft-repair,movies,wife,34700,-81000,...,Ambulance,SC,Columbus,2,?,Ford,Fusion,2010,NaN,43040.00

In [4]:
claim_total.tail()

,Customer_ID,months_as_customer,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,...,authorities_contacted,incident_state,incident_city,witnesses,police_report_available,auto_make,auto_model,auto_year,_c39,total_claim_amount
695,Customer_106,464,61,FEMALE,Associate,prof-specialty,basketball,husband,0,-56400,...,Police,VA,Northbend,2,YES,Saab,95,2000,NaN,106400.00
696,Customer_270,369,55,MALE,College,handlers-cleaners,camping,husband,55400,0,...,Police,VA,Arlington,0,YES,Toyota,Highlander,2003,NaN,113733.33
697,Customer_860,230,42,FEMALE,MD,adm-clerical,golf,own-child,0,-45300,...,Other,NY,Northbend,2,YES,Accura,MDX,1999,NaN,78466.67
698,Customer_435,102,28,MALE,MD,machine-op-inspct,reading,wife,55200,0,...,Police,PA,Northbend,0,NO,Dodge,Neon,1996,NaN,97866.67
699,Customer_102,279,41,FEMALE,JD,prof-specialty,bungie-jumping,husband,37300,-31700,...,Fire,NC,Northbrook,3,NO,Ford,Fusion,2013,NaN,38400.00

In [5]:
claim_total.isnull().sum()

Customer_ID                      0
months_as_customer               0
age                              0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_hobbies                  0
insured_relationship             0
capital-gains                    0
capital-loss                     0
policy_number                    0
policy_bind_date                 0
policy_state                     0
policy_csl                       0
policy_deductable                0
incident_location                0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                  0
bodily_injuries                  0
policy_annual_premium            0
umbrella_limit                   0
insured_zip                      0
incident_date                    0
incident_type                    0
collision_type                   0
incident_severity                0
authorities_contacted            0
incident_state                   0
incident_city                    0
witnesses                        0
police_report_available          0
auto_make                        0
auto_model                       0
auto_year                        0
_c39                           700
total_claim_amount               0
dtype: int64

In [6]:
test.isnull().sum()

Customer_ID                      0
months_as_customer               0
age                              0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_hobbies                  0
insured_relationship             0
capital-gains                    0
capital-loss                     0
policy_number                    0
policy_bind_date                 0
policy_state                     0
policy_csl                       0
policy_deductable                0
incident_location                0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                  0
bodily_injuries                  0
policy_annual_premium            0
umbrella_limit                   0
insured_zip                      0
incident_date                    0
incident_type                    0
collision_type                   0
incident_severity                0
authorities_contacted            0
incident_state                   0
incident_city                    0
witnesses                        0
police_report_available          0
auto_make                        0
auto_model                       0
auto_year                        0
_c39                           300
dtype: int64

In [7]:
del claim_total['_c39']

del test['_c39']

In [8]:
claim_total.head(10)

,Customer_ID,months_as_customer,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,...,incident_severity,authorities_contacted,incident_state,incident_city,witnesses,police_report_available,auto_make,auto_model,auto_year,total_claim_amount
0,Customer_541,239,41,FEMALE,JD,farming-fishing,paintball,other-relative,51400,-6300,...,Trivial Damage,Police,NC,Arlington,2,YES,Mercedes,E400,2013,14386.67
1,Customer_440,108,31,MALE,Masters,protective-serv,yachting,not-in-family,0,0,...,Total Loss,Fire,NY,Columbus,2,NO,Dodge,Neon,2006,76440.00
2,Customer_482,116,30,MALE,JD,handlers-cleaners,golf,not-in-family,0,-35500,...,Major Damage,Other,WV,Riverwood,3,?,Volkswagen,Passat,2004,79560.00
3,Customer_422,8,21,MALE,High School,handlers-cleaners,hiking,husband,0,0,...,Major Damage,Other,WV,Columbus,0,?,Toyota,Corolla,2012,121680.00
4,Customer_778,161,38,MALE,PhD,priv-house-serv,exercise,not-in-family,60200,0,...,Total Loss,Police,WV,Springfield,2,YES,Volkswagen,Jetta,2003,80640.00
5,Customer_949,407,55,FEMALE,PhD,tech-support,bungie-jumping,wife,0,-57700,...,Total Loss,Police,WV,Arlington,3,YES,Ford,Escape,2010,90880.00
6,Customer_334,96,30,MALE,College,prof-specialty,hiking,wife,38900,-48700,...,Total Loss,Fire,NC,Arlington,0,YES,Ford,Escape,2004,71253.33
7,Customer_576,282,46,MALE,MD,other-service,dancing,wife,51100,-75100,...,Minor Damage,Police,NY,Springfield,2,NO,BMW,M5,2012,92533.33
8,Customer_934,146,31,FEMALE,College,armed-forces,camping,own-child,0,0,...,Major Damage,Ambulance,VA,Riverwood,3,?,Toyota,Highlander,2010,69840.00
9,Customer_567,371,54,MALE,High School,craft-repair,movies,wife,34700,-81000,...,Major Damage,Ambulance,SC,Columbus,2,?,Ford,Fusion,2010,43040.00

In [9]:
claim_total['insured_sex']=claim_total['insured_sex'].apply(lambda x: 1 if x == 'MALE' else 0)
claim_total['police_report_available']=claim_total['police_report_available'].apply(lambda x: 1 if x == 'YES' else 0)

test['insured_sex']=test['insured_sex'].apply(lambda x: 1 if x == 'MALE' else 0)
test['police_report_available']=test['police_report_available'].apply(lambda x: 1 if x == 'YES' else 0)

In [10]:
claim_total.head()

,Customer_ID,months_as_customer,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,...,incident_severity,authorities_contacted,incident_state,incident_city,witnesses,police_report_available,auto_make,auto_model,auto_year,total_claim_amount
0,Customer_541,239,41,0,JD,farming-fishing,paintball,other-relative,51400,-6300,...,Trivial Damage,Police,NC,Arlington,2,1,Mercedes,E400,2013,14386.67
1,Customer_440,108,31,1,Masters,protective-serv,yachting,not-in-family,0,0,...,Total Loss,Fire,NY,Columbus,2,0,Dodge,Neon,2006,76440.00
2,Customer_482,116,30,1,JD,handlers-cleaners,golf,not-in-family,0,-35500,...,Major Damage,Other,WV,Riverwood,3,0,Volkswagen,Passat,2004,79560.00
3,Customer_422,8,21,1,High School,handlers-cleaners,hiking,husband,0,0,...,Major Damage,Other,WV,Columbus,0,0,Toyota,Corolla,2012,121680.00
4,Customer_778,161,38,1,PhD,priv-house-serv,exercise,not-in-family,60200,0,...,Total Loss,Police,WV,Springfield,2,1,Volkswagen,Jetta,2003,80640.00

In [11]:
claim_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  700 non-null    object
 1   months_as_customer           700 non-null    int64
 2   age                          700 non-null    int64
 3   insured_sex                  700 non-null    int64
 4   insured_education_level      700 non-null    object
 5   insured_occupation           700 non-null    object
 6   insured_hobbies              700 non-null    object
 7   insured_relationship         700 non-null    object
 8   capital-gains                700 non-null    int64
 9   capital-loss                 700 non-null    int64
 10  policy_number                700 non-null    int64
 11  policy_bind_date             700 non-null    object
 12  policy_state                 700 non-null    object
 13  policy_csl                   700 non-null    object
 14  policy_deductable            700 non-null    int64
 15  incident_location            700 non-null    object
 16  incident_hour_of_the_day     700 non-null    int64
 17  number_of_vehicles_involved  700 non-null    int64
 18  property_damage              700 non-null    object
 19  bodily_injuries              700 non-null    int64
 20  policy_annual_premium        700 non-null    float64
 21  umbrella_limit               700 non-null    int64
 22  insured_zip                  700 non-null    int64
 23  incident_date                700 non-null    object
 24  incident_type                700 non-null    object
 25  collision_type               700 non-null    object
 26  incident_severity            700 non-null    object
 27  authorities_contacted        700 non-null    object
 28  incident_state               700 non-null    object
 29  incident_city                700 non-null    object
 30  witnesses                    700 non-null    int64
 31  police_report_available      700 non-null    int64
 32  auto_make                    700 non-null    object
 33  auto_model                   700 non-null    object
 34  auto_year                    700 non-null    int64
 35  total_claim_amount           700 non-null    float64
dtypes: float64(2), int64(15), object(19)
memory usage: 197.0+ KB

In [12]:
claim_total = claim_total[['months_as_customer', 'age', 'insured_sex', 'capital-gains', 'capital-loss', 'policy_deductable', 'incident_hour_of_the_day', 'number_of_vehicles_involved', 'property_damage', 'bodily_injuries', 'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'incident_type', 'collision_type', 'incident_severity', 'police_report_available', 'auto_make', 'auto_model', 'total_claim_amount']]

In [13]:
test = test[['months_as_customer', 'age', 'insured_sex', 'capital-gains', 'capital-loss', 'policy_deductable', 'incident_hour_of_the_day', 'number_of_vehicles_involved', 'property_damage', 'bodily_injuries', 'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'incident_type', 'collision_type', 'incident_severity', 'police_report_available', 'auto_make', 'auto_model']]

In [18]:
claim_total = pd.get_dummies(claim_total, columns=['incident_type', 'property_damage', 'collision_type', 'incident_severity', 'police_report_available', 'auto_make', 'auto_model'])

In [19]:
test = pd.get_dummies(test, columns=['incident_type', 'property_damage', 'collision_type', 'incident_severity', 'police_report_available', 'auto_make', 'auto_model'])

In [20]:
claim_total.head()

,months_as_customer,age,insured_sex,capital-gains,capital-loss,policy_deductable,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,policy_annual_premium,...,auto_model_Pathfinder,auto_model_RAM,auto_model_RSX,auto_model_Silverado,auto_model_TL,auto_model_Tahoe,auto_model_Ultima,auto_model_Wrangler,auto_model_X5,auto_model_X6
0,239,41,0,51400,-6300,1000,22,1,0,1325.44,...,0,0,0,0,0,0,0,0,0,0
1,108,31,1,0,0,2000,14,1,0,1175.70,...,0,0,0,0,0,0,0,0,0,0
2,116,30,1,0,-35500,500,8,3,0,951.46,...,0,0,0,0,0,0,0,0,0,0
3,8,21,1,0,0,500,21,1,0,1021.90,...,0,0,0,0,0,0,0,0,0,0
4,161,38,1,60200,0,2000,0,3,2,1133.85,...,0,0,0,0,0,0,0,0,0,0

In [22]:
test.shape

(300, 82)

In [23]:
X = claim_total.drop('total_claim_amount', axis=1)
y = claim_total['total_claim_amount']

In [24]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\user\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\user\anaconda3\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.5.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: joblib>=0.11 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)

In [210]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.23, random_state=1234)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [211]:
linearmodel = LinearRegression()

In [212]:
linearmodel.fit(X_train, y_train)

LinearRegression()

In [213]:
LinearRegression

sklearn.linear_model._base.LinearRegression

In [214]:
linearmodel.predict(X_test)

array([ 73625.12595311,  85447.58351721,  82319.87454277,  83409.61927871,
         7395.85109143,   9979.41670981,  91167.20918508,  89732.68659592,
        -3333.03100159,  83194.58398742,  90011.6456324 ,  92161.31419034,
        14150.12425919,  94938.10601598,  84244.30781919,  76929.2556799 ,
        87339.5262859 ,  85242.30118428,  18147.1709272 ,  93165.60820079,
        85102.75857504,  75688.71994515,  84423.10433437,  83581.0361032 ,
        83404.92578582,  68618.15183071,  97551.48326614,  65203.40747135,
        91741.52902805,  82223.30003766,  87098.41122365,  90198.97571112,
        74785.03305842,  89111.01140323,  92780.28190712,  83960.31508539,
        86055.56554945,  78609.2919895 ,  97140.64128149,   5456.49504559,
        11354.17676127,  80045.03044046,   6712.87686489,  87464.32855839,
        91275.87336656,  67426.65432468,  81137.97986032,  81090.70590993,
        73139.42076114,  94146.19466449,  15243.54145723,  80963.16988032,
        18962.55288837,   7951.81340748,  77877.85202368,  77630.98615621,
        80799.45487621,   3597.01687089,  84568.39263633,  82960.79399855,
        90292.11886429,  87442.97094958,  81613.91550629,   9539.2090744 ,
        91075.12725354,  86405.62481247,  79174.74369941,  84365.64780431,
        79530.67059786,  98638.6365288 ,  75456.99438601,  87169.69531424,
        90445.61272683,  76518.57183902,   5906.08937121,  94946.55787457,
        89306.28461768,  75928.79545326,   5774.81398336,  89583.99968299,
        72956.60150767,  80581.09662233,  89206.68909101,  87440.12523209,
        95934.58435342,  88737.88309921,  70572.48961242,  82451.36656782,
        97605.899695  ,  86972.84670838,  70071.03106277,  91557.37336455,
        90694.87445975,  93073.27271972,   7129.54728887,  78627.50079795,
        89215.1176155 ,  86397.43628364,  86710.87018109,  11590.9406838 ,
        82151.78227415,  86413.73046618,  89979.27139888,  79162.38220255,
        91551.63609495,  70059.85317188,  10652.72332444,  84808.60964962,
        78909.80215534,  89588.2171054 ,  88911.52569445,  94186.26470005,
        82152.30310675,  71484.05419326,  14613.78200453,  74561.66041887,
        88873.33902154,  -2156.94082088,  17957.18803218,   4723.97190314,
        92052.59126568,  85491.82295979,  87468.9319994 ,  78226.5161883 ,
        88477.47210583,  93691.57217776,  83377.91711348,  90739.18126731,
        91715.72781423,  83672.19059203,  86578.3958097 ,  -4028.81195229,
        88305.33358709,  97474.66596229,  90562.82657725,  90933.02048977,
        85536.5555172 ,  71984.40053279,  -1037.22176875,  89534.10597859,
       101108.39085389,  85911.55481431,  85549.52965937,  96054.57735257,
        86539.84809181,  90584.85063863,  90941.40313136,  83581.63424707,
        88327.08010413,  80904.35504952,  91303.70491332, 105412.68946334,
        86863.13799178,  81633.15242506,  78833.91706776,  81353.39767437,
        15326.41777798,  83612.10578921,  78944.63385549,   9627.38635632,
        94491.24285275])

In [215]:
X_test.shape

(161, 82)

In [216]:
import sklearn.metrics as metrics

In [217]:
y_test.shape

(161,)

In [218]:
MSE = metrics.mean_squared_error(y_test, linearmodel.predict(X_test))

In [219]:
MSE

466936507.85565794

In [220]:
RMSE = np.sqrt(MSE)

In [221]:
RMSE

21608.713702015164

In [222]:
pred = linearmodel.predict(test)

In [223]:
pred

array([ 84264.35316319,  79831.28195642,  81315.84341409,  83394.77738047,
        22371.35008283,  88666.92362126,  91623.4620277 ,  85209.20477489,
        80785.81669367,  10012.67800761,   4283.62687477,  80000.88586974,
        10211.46332216,  83842.57038096,  84457.2437932 ,  10174.95669577,
        83672.68534558,  85220.75398805,  85644.00118647,  81210.9278094 ,
        95345.785377  ,   4633.94540592,  68093.33217752,   4860.44357454,
         8467.15498799,  83019.34369451,  82884.09558984,  95922.7273422 ,
        68508.16959376,  81732.9302471 ,  86542.48024281,  80924.64017903,
        88333.23754508,  85307.03933673,  93403.43576377,  93805.71089199,
        74527.42820392,    397.78399742,  80199.91224356,  86990.13035048,
        88002.1173615 ,  90636.38455609,  79699.68780297,  80972.73764048,
        92954.85865303,  75418.74793821,  60813.32124007, 101245.15332589,
         9203.64771304,    614.45980956,  67831.36676098,  92778.24724496,
        97413.79085513,  88827.36548906,  98195.3001925 ,  72588.09192439,
        89859.8241466 ,  88082.07786614,  89096.15900926,   4419.93155353,
        97134.79102466,  -1946.99041825,  82626.66907201,   1069.87372838,
        87425.51965907,   8447.28564925,  86744.07403597,  96721.58784315,
        96597.9123569 ,  70209.90777297,  88995.46894416,  87910.30904727,
        88352.67303258,  85716.87620919,  90027.76031275,  17051.74510871,
        90125.93862511,  82361.4471035 ,  84838.77121035,  67411.72313826,
        91377.75071919,  86490.71195037,  86087.01053182,  94601.8608451 ,
        85245.94471871,  18603.45809483,  84538.43979994,  89082.6465508 ,
        74734.22002061,  77227.94044474,  75778.84176585,  89216.68891462,
        69337.5739109 ,  85210.95211049,  89460.55976479,  82974.82097387,
        83799.01142826,   7554.44371883,  86352.38929112,  77863.90048898,
        95260.17267231,  85307.25816198,  90814.09308572,  88566.28246805,
        -3772.25497016,  87092.11604065,  80009.80347818,    617.95651647,
         7848.20844743,  85892.66959767,  82939.76668772,  86447.73903493,
        85643.16057265,  67314.3079801 ,  84243.85737788,  95109.55893511,
        88053.39291826,  95639.67901618,  69258.37303087,  74700.96005225,
        14980.54572648,  78182.93117014,  78828.87065736,   9636.63083704,
        88113.5778992 ,  80933.58887318,  80082.23194527,  83014.13053719,
        78762.67511996,  74804.00481385,  86626.65635779,   5051.20134459,
         9842.09745477,  72241.40312892,  99662.83123127,  83761.54679222,
        92852.19340538,  91358.62333937,  87651.13513313,  86371.21767042,
        94723.57743247,  69329.37095423,  10141.64080354,  11074.9444495 ,
        13553.25379768,  65551.86397359,  79255.04256392,   7109.43087325,
        91931.67995105,  81782.10939997,  87542.10864987,  83291.85250253,
        76918.73943551,  89573.18148272,  80838.47700272,  81575.79461655,
        95980.47758412,  82840.66082804,  83679.83093023,  86336.83595148,
        94697.13152591,  87049.01828183,  86487.9714167 ,  89566.33530919,
        85774.83515035,  84693.02878187,   4733.75787168,  91948.90607687,
        99008.36996433,  78734.28284885,  88935.15223815,  99463.41652204,
        88809.90178032,  81803.56896547,  80111.5384971 ,  85763.25696441,
        74833.32438373,  69095.71869247,  93672.77383467,   7421.38659746,
        92657.21413268,  79916.53052206,  84561.37503882,  79819.27184862,
        86658.35316058,  77514.77240779,  74758.02780998,   8058.87523193,
         5222.29804086,  82080.38549452,  84484.10303697,  90067.05379821,
         1329.89390536,  19142.10383894,  90136.11816462,  81769.61850298,
         3476.07264494,  79802.73944795,  79704.49145553,   9232.24345721,
        93928.66965761,  77627.14208184,  -6048.60827067,   9654.12901309,
        71157.07812046,  16844.70578304,  77394.58541912,  91829.20396704,
        77690.6368894 ,  81215.4049155 ,  96075.0728388 ,  10646.18408781,
        15804.88181696,  78397.55601622,  88493.21512803,  81783.59539468,
        88289.81786437,  85348.97424558,  86558.33496771,  83679.63296823,
        75972.90361991, 102340.4474714 ,  87517.40316913,  76472.4762686 ,
         2337.65786257,  84722.19538542,  89156.40847013,  84169.05374732,
        76643.83550711,  85297.06665637,  85601.89836537,   3538.0510071 ,
        71415.61677024,  92396.02027367,  76330.26001756,  85525.65099201,
        87731.76562467,  15729.48176508,  86645.12143073,   5634.56473535,
        86988.24671098,  77426.73222486,  77352.98385496,   9053.04037791,
        92994.65675378,  72519.48170936,  87993.94094182,  87021.56162802,
       103185.84373863,  80358.44499871,   8577.4569471 ,  82299.44551819,
        79445.43078509,   -767.10559067,   -277.21932934,  79993.46234694,
        -1552.63110319,   2948.55789059,   1311.37242747,  71778.82630538,
        93918.38176074,  78723.45572091,  73076.39042664,  86891.8018479 ,
        72789.34344948,  82724.78335817,  86506.70672165,  79033.97790159,
        75039.0749729 ,  94557.80059033,  10364.55062049,  83048.58645575,
        83129.45474567,  76895.71477093,  80357.7771911 ,  86557.93178744,
        10578.91856444,   5276.13695198,  19598.37547542,   4295.01256426,
        89062.3813707 ,  82626.47912324,  90069.83838013,  91050.76470171,
        12166.3554378 ,  81502.41338995,  82813.38813434,  82704.52724502,
        91372.91036003,   2876.2232583 ,  91630.15602263,  83499.47678991,
        93367.97325323,  87356.23352447,   8215.86720214,  86348.05045325,
        80416.29903888,  84544.82798967,  88801.45355822,  99502.64882386])

In [224]:
new_test = pd.read_csv('test (1).csv')

In [225]:
result = {'Customer_ID': new_test['Customer_ID'], 'total_claim_amount': pred}
result = pd.DataFrame(result)

In [226]:
result.to_csv('MySubmissionFile.csv', index=False)

In [227]:
final = pd.read_csv('MySubmissionFile.csv')

In [228]:
final.head()

    Customer_ID  total_claim_amount
0  Customer_521        84264.353163
1  Customer_737        79831.281956
2  Customer_740        81315.843414
3  Customer_660        83394.777380
4  Customer_411        22371.350083